
/* Style the video: 100% width and height to cover the entire window */
video {
    
    max-width: 100%;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    max-width: 100%;
}


/* Add some content at the bottom of the video/page */
.centro {
	position: fixed;
    margin:20%;
    margin-top: 120px;
    padding: 20px;
    width: 60%;
    background: rgba(0, 0, 0, 0.75);
    color: #f1f1f1;
}


.swal2-content {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}